.container-about::before {
  content: '';
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.81); /* Black with 50% opacity */
}

.container-about {
  display: flex;
  flex-direction: column;
  background-image: url("../../Assets/background.jpeg");
  background-size: cover;
}

.container-about h1, h2{
  color: aliceblue;
  z-index: 1;

}
.container-about h3{
  color: aliceblue;
  z-index: 1;
}
.container-about li{
  color: aliceblue;
  text-align: justify;
  z-index: 1;
}

.about-1 {
    margin-top: 0%;
    height: 800px;
    width: 100%; 
    flex: 1;
    display: flex;
    
 
  }
.about-2 {
    margin-top: 0%;
    height: 800px;
    width: 100%;
    flex: 1;
    display: flex;
  }
.about-3 {
    margin-top: 0%;
    height: 800px;
    width: 100%;
    display: flex;
  }

  .about-4{
    margin-top: 0%;
    height: 300px;
    width: 100%;
    display: flex;
  }

  span{
    display: block;
    height: 20px;
  }

  .about-box1{
    height: 800px;
    width: 50%;
    align-content: flex-start;
  }

  .about-box2{
    height: 800px;
    width: 50%;
    align-content: flex-end;
  }

  .about-box3{
    height: 800px;
    width: 50%;
    max-width: 100%;
    align-content: flex-start;
  }
  .about-box4{
    height: 800px;
    width: 50%;
    align-content: flex-end;
  }

  .about-box5{
    height: 800px;
    width: 50%;
    align-content: flex-start;
  }
  .about-box6{
    height: 800px;
    width: 50%;
    align-content:flex-end;
  }
  .about-box7{
    height: 300px;
    width: 100%;;
  }

  
